[Desktop Entry]
Type=Application
Name=Installer
Exec=kgx -e 'wmctrl -r :ACTIVE: -b add,fullscreen; unclutter -idle 1 & sudo archinstall'
Icon=software-update-urgent-symbolic
