[Desktop Entry]
Type=Application
Name=ApplySettings
Exec=kgx -e "gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click true && gsettings set org.gnome.desktop.background picture-uri 'file:///usr/share/backgrounds/space.jpg'"
