[Desktop Entry]
Type=Application
Name=GnomeSettingsTweaks

# Set wallpaper
Exec=gsettings set org.gnome.desktop.background picture-uri file:///usr/share/backgrounds/space.jpg
Exec=gsettings set org.gnome.desktop.background picture-uri-dark file:///usr/share/backgrounds/space.jpg

# Pin apps to taskbar
Exec=gsettings set org.gnome.shell favorite-apps "['installer.desktop', 'org.gnome.Console.desktop']"

# Toggle dark mode
Exec=gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'

# Set tap-to-click on touchpad
Exec=gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click true

# Customize apps menu
Exec=gsettings set org.gnome.shell app-picker-layout "['installer.desktop': <{'position': <0>}>, 'org.gnome.Console.desktop': <{'position': <1>}>, 'shutdown.desktop': <{'position': <2>}>, 'reboot.desktop': <{'position': <3>}>]"