[Unit]
Description=Configure gnome desktop

[Service]
Type=oneshot

# Some settings tweaks
ExecStart=gsettings set org.gnome.desktop.peripherals.touchpad tap-to-click true

# Hide some apps
ExecStart=desktop-file-edit /usr/share/applications/avahi-discover.desktop --set-key "NoDisplay" --set-value "true"
ExecStart=desktop-file-edit /usr/share/applications/bssh.desktop --set-key "NoDisplay" --set-value "true"
ExecStart=desktop-file-edit /usr/share/applications/bvnc.desktop --set-key "NoDisplay" --set-value "true"
ExecStart=desktop-file-edit /usr/share/applications/org.gnome.Console.desktop --set-key "Categories" --set-value "true"

# Set wallpaper
ExecStart=gsettings set org.gnome.desktop.background picture-url file:////usr/share/backgrounds/space-wallpaper.jpg

[Install]
WantedBy=sysinit.target
